*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    font-size: 50px;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 5px;
    padding: 30px;
    background-color: #3d348b;

}
.output{
    grid-column: span 4;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}
.equal{
    grid-column: span 2;
}
button{
    font-size: 30px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    outline: none;
}
button:hover{
    cursor: pointer;
    background-color: #3d348b;
    color: white;
}